table .table {
    max-width: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.nda {
    max-width: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

html {
    background-color:black;
}

h3 {
    font-size:3rem;
    text-align: center;
}