<div class="col-lg-2 col-md-12 col-sm-12"></div>
<div class="main-container col-lg-6 col-md-12 col-sm-12" style="background-color:black">
<!DOCTYPE html>
    <head>
        {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script> 
        {% endassets %} 
        {% assets "css_all" %}
        <link rel=stylesheet type="text/css" href="{{ ASSET_URL }}"> 
        {% endassets %}
    
        <title>
            VMware Cloud Management
        </title>
        <header class="header-6">
            <div class="branding">
                <clr-icon shape="vm"></clr-icon>
                <span class="title">VMware</span>
            </div>
        </header>
    </head>
    {% block body %}{% endblock %}
</div>
<div class="col-lg-2 col-md-12 col-sm-12"></div>